/* global */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* header style */
header {
    background-image: url(../images/banner/main-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.main-banner {
    text-align: right;
    padding-top: 148px;
    padding-right: 229px;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;

}

.description {
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
    color: #444343;
}

.btn-orange {
    font-weight: 600;
    font-size: 20px;
    padding: 15px 24px;
    border: 0;
    border-radius: 5px;
    background-color: #F15B22;
    color: #fff;
    margin-top: 25px;
}

/* main style  */
/* failure section style  */

.failure-section {
    display: flex;
    justify-content: space-evenly;
}

.failure-container {
    margin-top: 270px;
    margin-left: -98px;
}

.girl-img img {
    margin-top: 100px;
    height: 600px;
    width: 500px;

}

.failure-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 18px;
}

ul li {
    list-style: none;
    color: #444343;
    margin-top: 15px;
}

ul li i {
    color: #16D887;

}

/* plan sectio style  */
.plan-section {
    margin-top: 130px;
    margin-bottom: 125px;

}

#plan-title {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-bottom: 65px;
    color: #151414;
}

.plan-container {
    display: flex;
    justify-content: space-evenly;

}

.plan-1 {
    margin-left: 70px;
}

.plan-4 {
    margin-right: 60px;
}

#plan-img-title1 {
    margin: 10px 0 10px -70px;
    color: #151414;
    font-weight: 700;
    font-size: 28px;
}

#plan-img-title2 {
    margin: 10px 0 10px -19px;
    color: #151414;
    font-weight: 700;
    font-size: 28px;
}

#plan-img-title3 {
    margin: 10px 0 10px -30px;
    color: #151414;
    font-weight: 700;
    font-size: 28px;
}

#plan-img-title4 {
    margin: 10px 0 10px -10px;
    color: #151414;
    font-weight: 700;
    font-size: 28px;
}

.plan-desc1 {
    margin-left: -28px;
    font-weight: 500;
    font-size: 22px;
    color: #737272;
}

#plan-desc4 {
    margin-left: -12px;
    font-weight: 500;
    font-size: 22px;
    color: #737272;
}